@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
  box-sizing: border-box;
  padding: 0;
  letter-spacing: 0.5px;
}

body {
  background-color: #202020;
  color: #fff;
  padding-bottom: 2rem;
}

input {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  color: black;
}

button {
  cursor: pointer;
  transition: 300ms;
  font-weight: 500;
}

tr,
td,
th {
  padding: 0.1rem 0.5rem;
  border: 1px solid black;
  text-transform: capitalize;
  font-weight: 600;
}

td:nth-child(3),
td:nth-child(4) {
  font-weight: 500;
}

th {
  background-color: #dadada;
  font-weight: 700;
}

select {
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

tr:hover {
  background-color: #eaeaea;
}

::selection {
  background-color: black;
  color: white;
}

.active {
  background-color: red;
}
